* {
    padding: 5px 10px;
    /*background-color: #414141;*/
    background-color: #383c4a;
    color: #fff;
    font: "Font Awesome 5 Free 70";
}

#window {
  width: 1100px;
  height: 400px;
  border-radius: 5px;
  children: [ horibox ];
}
#horibox {
  orientation: horizontal;
  children: [ listview ];
}
#listview {
  layout: horizontal;
}
#element {
  padding: 140px 126px 0px ;
}
#element selected {
  text-color: #81a1c1;
}
